<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../stylesheets/createaccount/email.css">
  
</head>
<body>
  <div class="container">

    <div class="left-section">
  <h3 class="logo">
    <span class="blue">G</span>
    <span class="red">o</span>
    <span class="yellow">o</span>
    <span class="blue">g</span>
    <span class="green">l</span>
    <span class="red">e</span>
</h3>
  
  <p class="subtitle">choose how'll sign in</p>
  <h3>Yoou'll use this email to sign in to your Google </h3>
  <h3>Account</h3>
      </div>
  <div>
    <div class="right-section">
      <form class="login-form" action="/userroute/email" method="post">
      <input type="text" placeholder="create a gmail address" name="email">
    
     <a href="Use mobile">Use mobile</a>
          <div class="button-group">
      
                <button
                class="next-btn" >
                  Next
          </button>
        
    </div>
      </form>
    </div>


  </div>
   </div>
</body>
</html>