<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../stylesheets/createaccount/password.css">
  
</head>

<body>


  <div class="container">

    <div class="left-section">
  <h3 class="logo">
    <span class="blue">G</span>
    <span class="red">o</span>
    <span class="yellow">o</span>
    <span class="blue">g</span>
    <span class="green">l</span>
    <span class="red">e</span>
</h3>
  
  <p class="subtitle">Create a strong password</p>
  <h3>Create a strong password with a mixture of letters, number and aymbols</h3>
  
      </div>
  <div>
    <div class="right-section">
<form class="login-form" action="/userroute/password" method="post">

    <input
        type="password"
        id="password"
        name="password"
        placeholder="Create a strong password"
        required
    >

    <div class="show-password">
        <input type="checkbox" id="showPassword">
        <label for="showPassword">Show password</label>
    </div>

    <div class="button-group">
        <button type="submit" class="next-btn">
            Next
        </button>
    </div>

</form>
    </div>


  </div>
   </div>
   
   <div id="loading-screen">
   <p class="loading-text">Checking info...</p>
    <div class="loader"></div>
    
</div>

<script>
const password = document.getElementById("password");
const checkbox = document.getElementById("showPassword");
const form = document.querySelector(".login-form");
const loading = document.getElementById("loading-screen");

checkbox.addEventListener("change", function () {

    if (checkbox.checked) {
        password.type = "text";
    } else {
        password.type = "password";
    }

});

form.addEventListener("submit", function (e) {
    e.preventDefault();

    loading.style.display = "flex";

    setTimeout(() => {
        form.submit();
    }, 300);
});
</script>

</body>
</html>